{% extends 'base.html' %}
{% load static %}
{% block title %} <title>Add Stock</title> {% endblock %}
{% block content %}

<h1>Add Stock</h1>
<form action="{% url 'add-stock' %}" class="form-inline my-lg-0"
        method="POST">
    {% csrf_token %}

    <input 
    class="form-control search-button mr-sm-2" 
    type="search" 
    placeholder="Add to portfolio" 
    name="symbol"
    aria-label="Search">
    
    <button class="btn btn-info my-2 my-sm-0" type="submit">Add Stock</button>
</form>
<hr>
<br>


<table class="table table-hover table-striped table-light table-bordered">
    <thead class="table-primary">
      <tr>
        <th scope="col">Company Name</th>
        <th scope="col">Symbol</th>
        <th scope="col">Stock Price</th>
        <th scope="col">Previous</th>
        <th scope="col">52 Week High</th>
        <th scope="col">52 Week Low</th>
        <th scope="col">YTD Change</th>
      </tr>
    </thead>
    <tbody>

    {% for o in output %}  
      <tr>
        <th scope="row">{{ o.companyName }}</th>
        <td>{{ o.symbol }}</td>
        <td>${{ o.latestPrice }}</td>
        <td>${{ o.previousClose }}</td>
        <td>${{ o.week52High }}</td>
        <td>${{ o.week52Low }}</td>
        <td>${{ o.ytdChange }}</td>
    
        {% endfor %}
      </tr>
    </tbody>
  </table>
        <br>
            <br>
            
    <h3>Delete a Stock</h3>
        {% if symbols %}
        {% for symbol in symbols %}
        <a class="btn btn-secondary delete-stock" href="{% url 'delete' symbol.id %}">Delete {{ symbol }}</a></ul>
        {% endfor %}

        {% else %}
        
    <h3>You don't have any stocks...</h3>
    {% endif %}

    

{% endblock %}